.paginado{
   display: flex;
   gap: 10px;
   font-size: large;
   justify-content: center;
   background-color: #5B5B5B;
   font-weight: bolder;

}

.paginado a{
    cursor: pointer;
}


 .paginado button{
    font-style: italic;
    font-family: 'Lucida Sans Regular';
    border-radius: 20%;
    cursor: pointer;
 }
.paginado a:hover{
    color: rgb(175, 175, 175);
}