.navbar {
    background-color: rgb(119, 119, 119); /* Cambia el color de fondo a tu gusto */
    overflow: hidden; /* Evita que los elementos floten fuera de la barra de navegación */

    display: flex;
    justify-content: space-evenly;
    height: 25px;
    padding-top: 8px;
    padding-bottom: 5px;
    
  }

  .navbar a {
    float: left;
  }

  .navbar searchBar {
    align-items: center;
  }

  .navbar button {
    font-style: italic;
    font-family: 'Lucida Sans Regular';
    border-radius: 20%;
    background-color: #5B5B5B;
    color: rgb(240, 248, 255);
  }

  .navbar button:hover {
    background-color: rgb(240, 248, 255);
    color: black;
    cursor: pointer;
  }
  .searchbar{
    overflow: hidden;
    padding-left: 5px;
  }

  .searchbar input,
.searchbar button {
  margin-left: 15px; /* Ajusta este valor según sea necesario */
 
    font-family: 'Lucida Sans Regular';
}

